#canvas{
	display: inline-block;
	border: 2px solid black;
	background-size: cover;
	cursor: crosshair;
	margin:auto;
	display: flex;
	justify-content: center;
}

#tableau_etiquette{
	border-style: solid;
	border-width: thin;
	border: 2px solid black;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	margin-top: 10px;
	background-color: lightgray;
}

thead, tr, th, td{
	padding: 5px 15px 5px;
}

#boutton_envoyer{
	background-color: white;
	border-style: solid;
	border-width: thin;
	border: 2 px solid black;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 5px;
}



tfoot td {
    text-align: center;
}

input{
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	border: 2 px solid black;
}

.points-info{
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
}